<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <!--
        namespace:名称空间
        parameterType：输入映射，输入参数的类型
        resultType：输出映射,结果类型
        #{}：占位符
    -->
<mapper namespace="cn.dw.mapper.RoleMapper">

    <!--查询所有角色信息并把用户所关联的用户查询出来-->
    <resultMap id="findRoleAllAndUserAll" type="role">
        <id property="rid" column="rid"/>
        <result property="rolename" column="rolename"/>
        <result property="roledesc" column="roledesc"/>
        <collection property="users" ofType="user">
            <id property="uid" column="uid"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
        </collection>
    </resultMap>
    <select id="findRoleAllAndUserAll" resultMap="findRoleAllAndUserAll">
        SELECT r.*,u.* FROM role r
        LEFT JOIN user_role ur on r.rid = ur.rid
        LEFT JOIN user u on ur.uid = u.uid
    </select>
</mapper>